@model TicketBooking.Models.RegisteredUser

@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="form-signin-heading">Register</h2>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username", required = "true" })
                @Html.ValidationMessageFor(x => x.Username)
            </div>
            <br />
            <div class="row">
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password", required = "true", type = "password" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <br />
            <div class="row">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email", required = "true", type = "email" })
            </div>
            <br />
            <div class="row">
                <center><button type="submit" class="btn-default">Register</button></center>
            </div>
        }
    </div>
    <div class="col-md-4"></div>
</div>